/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
  font-family: 'Bebas Neue', sans-serif;
} */
header{
  position:relative;
}
ul > li{
  font-size: 20px;
}
nav{
  position: sticky;
  @apply fixed top-0 w-full z-50;
}