/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
  font-family: 'Bebas Neue', sans-serif;
} */
header{
  position:relative;
}
ul > li{
  font-size: 20px;
}
nav{
  position: sticky;
  @apply fixed top-0 w-full z-50;
}
.right-arrow, .left-arrow {
  position: absolute;
  top: 50%;
  font-size: 3rem;
  color: #fff;
  z-index: 20;
  cursor: pointer;
  user-select: none;
}

.right-arrow {
  right: 22px;
  transform: translateY(-50%);
}

.left-arrow {
  left: 22px;
  transform: translateY(-50%);
}
.hover-effect:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}
.model{
  
}
