/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  font-family: 'Bebas Neue', sans-serif;
  background: black; /* Set the background color to black */ 

header {
  position: relative;
}

ul > li {
  font-size: 20px;
}

nav {
  position: sticky;
  @apply fixed top-0 w-full z-50;
}

.right-arrow,
.left-arrow {
  position: absolute;
  top: 50%;
  font-size: 3rem;
  color: #fff;
  z-index: 20;
  cursor: pointer;
  user-select: none;
}

.right-arrow {
  right: 22px;
  transform: translateY(-50%);
}

.left-arrow {
  left: 22px;
  transform: translateY(-50%);
}

.hover-effect:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}

.saveMovies {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content:center;
}

.list {
  background: black;
  height: 100vh;
  padding: 10px;
  color: white;
}

.movie {
  margin: 15px;
  padding: 10px;
  box-sizing: border-box;
  background: black;
  position: relative;
  overflow: hidden;
}

.movie img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.movie:hover img {
  transform: scale(0.9);
}

.movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 18px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.movie:hover .movie-info {
  opacity: 1;
}

.empty {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 2rem;
  background: black;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body {
  scrollbar-width:thin;
  scrollbar-color:transparent transparent;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color:#ff0000; 
 border-radius: 4%;
}

::-webkit-scrollbar-thumb:hover {
   background-color: #221111;
 }